@import "./varibles.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: osevka;
  outline: 0;
  user-select: none;
  color: $color_8;
}

body {
  background: $color_1;
  header {
    text-align: center;
    padding: 50px;
    h1 {
      color: $color_4;
      font-family: Pacifico;
      font-size: 50px;
      font-weight: 100;
    }
  }
  content {
    .toInsert {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 1px dashed $color_7;
      padding-bottom: 50px;
      margin: 0 50px;

      #titolo {
        border: 0;
        border-radius: 100px;
        padding: 20px;
        background: $color_2;
        font-size: 20px;
      }
      #hourSlider {
        background: $color_2;
        -webkit-appearance: none;
        border-radius: 100px;
        overflow: hidden;
        &::-webkit-slider-runnable-track {
          height: 20px;
          -webkit-appearance: none;
          color: #13bba4;
        }
        &::-webkit-slider-thumb {
          width: 20px;
          -webkit-appearance: none;
          height: 20px;
          background: $color_3;
          border-radius: 100%;
          box-shadow: -80px 0 0 70px $color_3;
        }
      }
      #sliderLabel {
        font-size: 25px;
        width: 75px;
        text-align: center;
      }
      #addBtn {
        transition: 0.2s;
        border: 0;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color_6;
        font-size: 20px;
        color: $color_1;
        &:hover {
          transform: scale(1.2);
        }
      }
      #newTaskPopup {
        display: none;
      }
      #newTaskPopup.pop {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .ok {
          font-size: 50px;
          height: 150px;
          width: 150px;
          display: flex;
          align-items: center;
          top: 40px;
          padding: 50px;
          background-color: $color_6_faded;
          border-radius: 10px;
          position: relative;
          .hand {
            color: $color_6;
            animation: updoot;
            animation-duration: 1s;
          }
        }
        span {
          position: absolute;
          font-size: 15px;
          bottom: 10px;
          left: 0px;
          text-align: center;
          color: $color_6;
          width: 100%;
        }
      }
    }

    #tasksCompleted {
      padding: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      overflow: hidden;

      .group {
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        height: 180px;
        width: 250px;
        background: $color_2;
        margin: 20px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }

      .groupTasks {
        position: absolute;
        top: 100vh;
        background: $color_1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .closeGroup {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          padding-right: 10px;
          right: 100px;
          height: 40px;
          width: 40px;
          font-size: 30px;
          color: $color_5;
          cursor: pointer;
        }
      }

      .groupTasks.open {
        animation: vensu;
        animation-duration: 1s;
        z-index: 10;
        height: 100%;
        width: 100%;
        padding: 25px;
        top: 0;
        left: 0;
        overflow-y: scroll;
      }

      .task {
        display: grid;
        grid-template-areas:
          "activity activity activity"
          "hours date delete";
        grid-template-rows: 85% 15%;
        height: 180px;
        width: 250px;
        background: $color_2;
        margin: 20px;
        padding: 15px;
        border-radius: 10px;

        .taskTitle {
          display: flex;
          overflow-y: scroll;
          grid-area: activity;
          border-bottom: 1px dashed $color_7;
          margin-bottom: 10px;
        }

        .taskHours {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-area: hours;
          font-size: 16px;
          border-right: 1px dashed $color_7;
          padding-right: 10px;
        }

        .taskDate {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-area: date;
          font-size: 16px;
          border-right: 1px dashed $color_7;
        }

        .deleteElement {
          transition: 0.2s;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color_5;
          grid-area: delete;
          font-size: 20px;
          cursor: pointer;
          opacity: 0.8;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }
    .qrCodeContainer {
      position: fixed;
      left: 20px;
      bottom: 20px;
      width: fit-content;
      height: fit-content;
      .qrCode {
        height: 50px;
        width: 50px;
        cursor: pointer;
        svg {
          border-radius: 4%;
        }
      }
    }
    .active {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      backdrop-filter: blur(2px);
      display: flex;
      justify-content: center;
      align-items: center;
      .qrCode {
        width: 30%;
        height: auto;
        overflow: hidden;
        animation: pop;
        animation-duration: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  body content .toInsert {
    flex-wrap: wrap;
    #titolo {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
