@import "./variables.scss";

@keyframes newTask {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes removing {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes editTask {
  0% {
    top: 100vh;
    transform: scale(0.5);
    backdrop-filter: blur(0px);
  }
  50% {
    top: 0;
    transform: scale(0.5);
    backdrop-filter: blur(1px);
  }
  100% {
    top: 0;
    transform: scale(1);
    backdrop-filter: blur(2px);
  }
}
